body {
  font-family: Helvetice, Arial, sans-serif;
  text-align:center
}

h1 {
  font-size: 28px;
  margin: 20px;
}

p {
  border: 1px solid blue;
  padding: 20px;
  margin: 30px auto;
  width: 50%;
  font-size: 20px;
}

button{
  border: 1px solid green;
  background-color:white;
  padding: 8px;
  font: inherit;
  cursor:crosshair;
  outline: none;
}

button:hover {
  bacground-color: #FFF;
}